<h2>Your hurls</h2>
<table id="archive">
  <% for hurl in @hurls %>
    <tr>
      <td><a href="/hurls/<%= hurl['id'] %>"><%= hurl['url'] %></a></td>
      <td><%= hurl['method'] %></td>
      <td><%= hurl['auth'] == "none" ? "no auth" : "HTTP basic" %></td>
      <td class="date relatize"><%= hurl['date'] %></td>
    </tr>
  <% end %>
</table>